body {
    margin: 0px;
    padding: 0px;

}

.out {
    position: relative;
    width: 200px;
    height: 200px;
    background: yellow;
}

.in {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: red;
    display: inline-block;
    transform: translate(-50%, -50%);
}
