a {
    font-size: 48px;
    color: black;
}

a {
    text-decoration: none
}

a:link {
    text-decoration: none
}

a:visited {
    text-decoration: none
}

a:active {
    text-decoration: none
}

.menu {
    font-size: 48px;
    width: 200px;
    height: 100px;
    background: #ccc;
    text-align: center;

}

.menu:active {
    background: #a00;
    color: #fff;
}


.menuText {
    position: relative;
    top: 12px;
    display: inline-block;
    text-align: center;
}
